<!--Email : <input type="text" [(ngModel)]="email ">

<br><br>


<input type="button" value="Receive Password" (click)="forgotPassword()">-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h3><b>Receive Password</b></h3>

<div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
<form (ngSubmit)="forgotPassword()">
    <div class="form-group">
       <label>Email</label>
       <input type="text" class="form-control"   name="t1" placeholder="Email"  [(ngModel)]="email ">
    </div>
    <button type="submit" class="btn btn-black" value="Receive Password">Receive</button>
 </form>
</div>
</div>
</div>