<p>REGISTER FOR ONLINE EXAM SYSTEM PORTAL</p>

<p> Please provide us with the following details:</p>
<form (ngSubmit)="register()">

    Full Name: <input type="text" name="t1" [(ngModel)]=student.fullName /><br />

    Email: <input type="email" name="t2" [(ngModel)]=student.email /><br />

    Mobile : <input type="number" name="t3" [(ngModel)]=student.mobile /><br />

    City : <input type="text" name="t4" [(ngModel)]=student.city /><br />

    Date Of Birth: <input type="date" name="t5" [(ngModel)]=student.dateOfBirth /><br />

    State: <input type="text" name="t6" [(ngModel)]=student.state /><br />

    Qualification: <input type="text" name="t7" [(ngModel)]=student.qualification /><br />

    Year of Completion: <input type="number" name="t8" [(ngModel)]=student.yearOfCompletion /><br />


    <button type="submit">Register</button>

</form>