<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h3><b>User Login</b></h3>

<div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
<form (ngSubmit)="loginCheck()">
    <div class="form-group">
       <label>Enter Email-id</label>
       <input type="email" class="form-control"   name="email" placeholder="Email" [(ngModel)]=login.email>
    </div>
    <div class="form-group">
       <label> Enter Password</label>
       <input type="password" class="form-control"  name="password" placeholder="Password" [(ngModel)]=login.password>
    </div>
    <button type="submit" class="btn btn-black">Login</button>
    <br><br>
    <button class="btn btn-black" (click) = "forgotPassword()">Forgot Password</button>
 </form>
</div>
</div>
</div>