<!-- <input type="button" value="view questions" (click)="listOfQuestions()"> -->

<h2>Questions</h2>
<table>
    <tbody *ngFor = "let question of questionsList | paginate:{itemsPerPage:1,currentPage:p};">
        <tr>
            <td><span>{{question.questionDesc}}</span></td>
        </tr>
        <tr>
            <td><input type="radio"  name="option" value="1" id="{{question.questionId}}" (change)="radioChange($event)">
            <span>{{question.option1}}</span></td>
        </tr>
        <tr>
            <td><input type="radio"  name="option" value="2" id="{{question.questionId}}" (change)="radioChange($event)">
            <span>{{question.option2}}</span></td>
        </tr>
        <tr>
            <td><input type="radio"  name="option" value="3" id="{{question.questionId}}" (change)="radioChange($event)">
            <span>{{question.option3}}</span></td>
        </tr>
        <tr>
            <td><input type="radio"  name="option" value="4" id="{{question.questionId}}" (change)="radioChange($event)">
                <span>{{question.option4}}</span></td>
        </tr>
        <tr>
            <td><input type="button" id="btn" value="submit answer" name="{{question.questionId}}" (click)="onSubmitAnswer()"></td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
<input type="button" value="Submit Exam" (click)="submitExam()">