<!--<h3>About Project: </h3>
<h4> 
    This project is helpful for students, companies or any organization to conduct any
    examinations from this site. In this age of increased competition, various companies,
    organization’s face a common problem of conducting online exam by personally visiting to
    different colleges (in case of companies) for placement drives. Manually going through
    thousands of colleges and conducting interviews requires a lot of time, efforts and money, this
    is the reason that most of the companies prefer visiting only top most colleges. The students
    of low-grade colleges despite of having the caliber to compete are not getting enough
    exposure to job profiles of their choices and end up getting a low satisfying job. To reduce this
    gap between these companies or any organization and such potential candidates this platform
    will help the deserving candidates to showcase their conceptual skills through an online exam,
    based on which, the companies can filter out candidates according to their needs. Basically,
    we are providing an online exam system where we host exams to create report of candidates
    which can be viewed by the companies. This will not only help the companies or any
    organization to analyze and select the cream candidates which meet company’s requirements
    but also, help the students to get exposure to enough companies.
</h4>

<h2>Our Team:- </h2>

<ul>
    <li>Ahswik Lucky Reddy</li>
    <li>Neha</li>
    <li>Vallari Chitnis</li>
    <li>Sapan Jain</li>
</ul>-->

<div align="right"><button type="button" class="btn btn-danger" (click)="userLogout()" ><b>Logout</b></button></div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


    <h1 class="text-center">Our Team </h1>

	
	<div class="container">
	<div class="row">
	
	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/9c27b0/fff?text=Sapan " class="img-fluid" />
	<h3>Sapan Jain</h3>
	<p>Team Lead</p>
	</div>
	
	<div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque penatibus et magnis dis parturient montes,
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque.
	</span>
	</div>
	
	</div>
	</div>
	<!--team-1-->
	
	<!--team-2-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/336699/fff?text=Ashwik " class="img-fluid" />
	<h3>Ashwik Reddy</h3>
	<p>Team Member</p>
	</div>
	
	<div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque penatibus et magnis dis parturient montes,
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque.
	</span>
	</div>
	
	</div>
	</div>
	<!--team-2-->
	
	<!--team-3-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/607d8b/fff?text=Vallari" class="img-fluid" />
	<h3>Vallari Chitnis</h3>
	<p>Team Member</p>
	</div>
	
	<div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque penatibus et magnis dis parturient montes,
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque.
	</span>
	</div>
	
	</div>
	</div>
	<!--team-3-->
	
	<!--team-4-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/4caf50/fff?text=Neha" class="img-fluid" />
	<h3>Neha Chandrappa</h3>
	<p>Team Member</p>
	</div>
	
	<div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque penatibus et magnis dis parturient montes,
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque.
	</span>
	</div>
	
	</div>
	</div>
	<!--team-4-->
	
	</div>
	</div>