<h3> Select Exam</h3>

<input  type="button" value="JAVA" [(ngModel)] = "Java.value" (click)= "selectExam($event.target.value)">
<!--<app-start-exam [sbjName]="subjectName"></app-start-exam>-->


<input  type="button" value="SQL" [(ngModel)] = "SQL.value" (click)= "selectExam($event.target.value)">

<input  type="button" value="PHP" [(ngModel)] = "PHP.value" (click)= "selectExam($event.target.value)"> 

<input  type="button" value="C" [(ngModel)] = "C.value" (click)= "selectExam($event.target.value)">

<input  type="button" value="Python" [(ngModel)] = "Python.value" (click)= "selectExam($event.target.value)">

<input  type="button" value="Csharp" [(ngModel)] = "Csharp.value" (click)= "selectExam($event.target.value)">


<app-question-paper [questionsList]="questions"></app-question-paper>



