<p>display-student works!</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th>Date of Birth</th>  
            <th>State</th>
            <th>Qualification</th>
            <th>Year Of Completion</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let stu of student | paginate:{itemsPerPage:10,currentPage:p};">
            <td><span>{{stu.fullName}}</span></td>
            <td><span>{{stu.email}}</span></td>
            <td><span>{{stu. mobile}}</span></td>
            <td><span>{{stu.city}}</span></td>
            <td><span>{{stu.dateOfBirth}}</span></td>
            <td><span>{{stu.state}}</span></td>
            <td><span>{{stu.qualification}</span></td>
            <td><span>{{stu.yearOfCompletion}</span></td>
            
        </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
