<form (ngSubmit)="saveQuestion()">
    Subject Name:<input type="text"  [(ngModel)]="question.subjectName" name="subject"><br>
    Test Level:<input type="number"  [(ngModel)]="question.testLevel" name="test"><br>
    Enter Question to be added : <input type="text"  [(ngModel)]="question.questionDesc" name="question"><br>
    1.<input type="text" name="option1" [(ngModel)]="question.option1"><br>
    2.<input type="text" name="option2" [(ngModel)]="question.option2"><br>
    3.<input type="text" name="option3" [(ngModel)]="question.option3"><br>
    4.<input type="text" name="option4" [(ngModel)]="question.option4"><br>
    Correct Option :<input type="text" name="correct" [(ngModel)]="question.correctAnswer"><br>
    <button type="submit">Add</button>
    
   </form>