
Score : <input type="number" name="Score" id="t1" [(ngModel)]="getstudent.score">
<br><br>

Test Level: <input type="number" name="Test Level" id="t2" [(ngModel)]="getstudent.testLevel"> 
<br><br>

Subject Name: <input type="text" name="Subject Name" id="t3" [(ngModel)]="getstudent.testSubjectName"> 
<br><br>

City: <input type="text" name="City" id="t4" [(ngModel)]="getstudent.city">
<br><br>

State: <input type="text" name="State" id="t5" [(ngModel)]="getstudent.state">
<br><br>

<input type="button" value="Search" (click)= "display()">
<br><br>

<router-outlet></router-outlet>