<!--<h3>Instruction For the test</h3>
<hr>
<h5>Duration of test is 40 minutes</h5>
<h5>Each Question consist of 3 Marks</h5>
<h5>Their is no negative Marking</h5>
<h5>Once the option is Selected, you can't change your response</h5>-->



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<div class="col-md-12">
		    <div class="row">
		        <div class="col-md-8">
		            <div class="card text-white bg-primary mb-3">
                      
                      <div class="card-body my-5 py-5">
                        <h2>Instruction For the test</h2>
        
                        <hr>
                        <ul >
                            <li>1. Duration of test is 40 minutes</li>
                            <li>2. Each Question consist of 3 Marks</li>
                            <li>3. Their is no negative Marking</li>
                            <li>4. Once the option is Selected, you can't change your response</li>
                        </ul>
                      </div>
                    </div>
		            
		        </div>
		        
		        <div class="col-md-6">
					
 
		            
		        </div>
		        
		    </div>
		</div>
	</div>
</div>

<div class="button">
<input type="button" value="StartExam" (click)= "startExam()">
</div>
<router-outlet>  </router-outlet>