<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<!-- <div class="sidenav">
         <div class="login-main-text">
            <h2>Welcome Student</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div> -->
      <div class="sidenav">
        <div class="login-main-text">
           <h2 *ngIf="!loginFlag"><b>Welcome Student</b></h2>
           <h2 *ngIf="loginFlag">  Welcome , {{this.name}}  </h2> 
           <p>Login or register from here to access.</p>
        </div>
     </div>

     

     <div class="main">
        <div class="col-md-6 col-sm-12">
       
      
            <button type="button" class="btn btn-default" (click)="home()"><b>Home</b></button>

            
            <button type="button" class="btn btn-primary" (click)="aboutUs()"><b>AboutUs</b></button>

            
            <button type="button" class="btn btn-success" (click)="userLogin()" *ngIf="!loginFlag"><b>Login</b></button>

            <button type="button" class="btn btn-success" (click)="userLogout()" *ngIf="loginFlag" align = "right"><b>Logout</b></button>
            
            <button type="button" class="btn btn-info" (click)="userRegister()" *ngIf="!loginFlag"><b>Register</b></button>
 
<hr>


<div class="exam">
    <button type="button" class="btn btn-warning" (click)="report();"><b>Report</b></button>
    <br>
    <br>
    <button type="button" class="btn btn-danger" (click)="newExam();"><b>New Exam</b></button>
</div>
</div>




</div>


 

<router-outlet></router-outlet>